.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures
Data_outputs
Data_inputs/Data_OG
Data_inputs/Data_workshop
*sst.csv
*.html
failureRates_SI_MKD.Rmd
failureRates_code_graveyard.R
failureRates_additional_analyses.R
Data_inputs/all_pair_behaviour_brooding_withSex.RData
Data_inputs/all_pair_behaviour_incub_withSex.RData
Data_inputs/all_pair_behaviour_brooding.RData
Data_inputs/all_pair_behaviour_incub.RData
Data_inputs/waal_birdis_gps*
Data_inputs/waal_crozet_gps*
Data_inputs/bba_kerguelen_gps*
Data_inputs/bba_birdis_gps*
failureRates_main_analysis.R
failureRates_anonymise_rings.R
rings_lookup.RData
/Workshop