.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures
Data_outputs
failureRates_results_MKD.html
failureRates_SI_MKD.html
failureRates_SI_MKD.Rmd
failureRates_code_graveyard.R
Data_inputs/all_pair_behaviour_brooding_withSex.RData
Data_inputs/all_pair_behaviour_incub_withSex.RData
failureRates_main_analysis.R
failureRates_analyses.html
